<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img src="./../../assets/profile.png" class="card-img-top rounded-circle w-75" alt="User photo">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Nivaldo Beirão</h5>
          <p class="card-text text-center">Administrador de Empresas e Gerente de TI</p>
          <a href="https://github.com/njtsb1" target="_blank"
            class="btn btn-outline-dark d-flex justify-content-center">Github</a>

          <hr class="mt-4 mb-4">

          <h6 class="mb-3 text-monospace text-center">Search by name</h6>

          <input type="text" class="form-control mb-3 w-100">
          <button class="btn btn-outline-warning w-100">Search</button>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div>
        <h3 class="text-center mb-4 text-monospace">Type your comments below:</h3>

        <div class="form-group">
          <label for="name" class="text-monospace">Name:</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name"
            [(ngModel)]='post.name'>
        </div>
        <div class="form-group">
          <label for="message" class="text-monospace">Message:</label>
          <textarea name="message" id="message" cols="30" rows="4" class="form-control"
            placeholder="Type your message" [(ngModel)]='post.message'></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-info w-25" (click)='registerMessage()'>Publish</button>
        </div>

      </div>
      <hr class="mt-5 mb-5">

      <h3 class="text-center mb-5 text-monospace">Comments added</h3>
      <div class="container">
        <div class="card mb-4" *ngFor="let post of listPost">
          <div class="card-header">
            <h5 class="card-tile">{{post.id}}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{post.name}}</p>
            <p class="card-text">{{post.message}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
