<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Welcome to my blog!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <p class="text-center">GitHub is a source code and file hosting platform with version control using
        Git. It allows programmers, utilities or any user registered on the platform to contribute to
        private and/or Open Source projects from anywhere in the world. At LinkedIn, we trust each other to do our best work where it's best for us
        and our teams. We've learned that every individual and team works differently, so we're embracing
        flexibility as we continue to create amazing office experiences for everyday work and times when
        we're together. The Lattes Platform is a virtual curriculum system created and maintained by
        the National Council for Scientific and Technological Development, through which it integrates
        curriculum databases, research groups and institutions in a single information system,
        in the areas of Science and Technology, acting in Brazil.</p>
    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink='/feed'>See the feed</button>
    </div>
  </div>
</div>
